$slack-aubergine: #4A154B;
$slack-aubergine-null: #611F69;
$slack-aubergine-active: #7C3085;
$workspace-form-border-color: #616061;
$workspace-border-light-gray: #ddd;
$workspace-lightest-shade-gray: #f8f8f8;
$slack-accessible-blue: #1264a3;
$slack-accessible-green: #007A5A;
$workspace-faux-black: #1d1c1d;
$font-lato: 'Lato', sans-serif;

.add-direct-message-page{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: flex-start;

  .escape-div {
    width: calc(100% - 120px);
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

      button {
        background: transparent;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        border: none;
        height: 70px;
        width: 70px;
        border-radius: 100%;
        cursor: pointer;
        text-align: center;
  

        i {
          margin-top: 10px;
          display: block;
          font-size: 36px;
        }

        &:hover {
          background-color:$workspace-border-light-gray;
        }

        &:focus {
          outline: none;
        }
      }
    }

  .add-direct-message-form {
    font: $font-lato;
    max-height: inherit;
    width: 700px;
    display: flex;
    flex-direction: column;


    .add-direct-message-header {
      font-size: 36px;
      margin-bottom: 36px;
      flex: 0 0 auto;
    }

    .selected-users, .all-users {
      list-style: none;
    }

    .selected-users-bar {
      display: flex;
      flex-direction: row;
      flex: 0 0 auto;
      
      &>button {
        box-sizing: border-box;
        width: 62px;
        height: 100%;
        color: white;
        background-color: $slack-accessible-green;
        font-size: 24px;
        font-weight: 700;
        text-align: center;


        border: none;
        border-radius: 4px;
        margin-left: 20px;

        cursor: pointer;
      }
    }

    .selected-users {
      flex: 1 0 auto;

      display: flex;
      box-sizing: border-box;
      flex-direction: row;
      height: 56px;
      border-radius: 8px;
      border: 1px solid $slack-accessible-blue;
      padding: 12px;
      overflow-x: auto;

      li {
        margin-right: 12px;
      }

      li button {
        height: 32px;
        border: none;
        border-radius: 4px;
        background-color: $slack-accessible-blue;
        color: white;
        font-weight: 700;
        padding: 0px 8px;
        cursor: pointer;
      }
    }

    .all-users {
      margin-top: 20px;
      flex: 1 1 auto;
      overflow: scroll;
      max-height: 100%;

      li {
        height: 64px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        &:before {
          content: "";
          width: calc(100% - 16px);
          height: 1px;
          background-color: $workspace-border-light-gray;
        }

        button {
          box-sizing: border-box;
          height: 100%;
          width: 100%;
          font-size: 16px;
          background-color: transparent;
          border: 1px solid transparent;
          padding-left: 30px;
          text-align: left;
          cursor: pointer;

          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;

          &:hover {
            border: 1px solid rgb(184, 223, 250);
            border-radius: 8px;
            background-color: rgb(243, 250, 255);

          }
          i {
            display: flex;
            width: 36px;
            height: 36px;
            align-items: center;
            justify-content: center;

            border-radius: 4px;
            background-color: $slack-accessible-green;
            font-size: 24px;
            color: white;

            margin-right: 20px;
          }

          &.direct-message-option {
              .user-item-info {
                flex: 1 0 auto;

                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
              }
              .direct-message-size {
                height: 12px;
                width: 10px;
                border-radius: 2px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: black;
                margin: 0 5px;
                color: white;
                font-size: 10px;
              }
              .user-item-timestamp {
                  height: 40px;
                  display: flex;
                  flex-direction: column;
                  justify-content: flex-start;
                  font-size: 12px;
                  color: gray;
              }
          }
        }

      }
    }   
  }
}