$slack-aubergine-dark: #3b103c;
$slack-aubergine: #4A154B;
$slack-aubergine-null: #611F69;
$slack-aubergine-active: #7C3085;

$workspace-form-border-color: #616061;

$workspace-border-light-gray: #ddd;

$workspace-lightest-shade-gray: #f8f8f8;

$slack-accessible-blue: #1264a3;
$slack-accessible-green: #007A5A;

$workspace-faux-black: #1d1c1d;

$font-lato: 'Lato', sans-serif;

.workspace-page{
    input, button, textarea {
    font: inherit;
    color: inherit;
  }
} 

.workspace-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  color: $workspace-faux-black;

}

.workspace-nav-bar {
  position: relative;
  box-sizing: border-box;
  flex: 0 0 220px;

  background: $slack-aubergine;
  color: white;
}

.workspace-nav-bar a {
  color: rgb(197,183,198);
}

.workspace-active-area {
  box-sizing: border-box;
  flex: 1 1 auto;
  max-width: calc(100% - 220px);

  display: flex;
  flex-direction: column;
}

.workspace-active-nav-bar {
  // position: relative;
  box-sizing: border-box;
  flex: 0 0 47px;
  overflow: visible;
  background: transparent;
  // z-index: 2;
}

.workspace-active-nav-bar-stretch {
  box-sizing: border-box;
  position: absolute;
  width: calc(100% - 220px);
  top: 0px;
  height: 62px;
  background-color: white;
  z-index:2;
}

.workspace-active-chat-area {
  box-sizing: border-box;
  flex: 1 1 auto;

  display: flex;
  overflow-y: scroll;
  flex-direction: row;
}

.workspace-main-section {
  flex: 1 1 auto;
  max-width: 100%;
  display: flex;
  flex-direction: column
}

// FORM HELL STARTS HERE

.main-chat-form {
  box-sizing: border-box;
  flex: 0 0 auto;

  // max-height: calc( 60% + 30px);
  padding: 0px 20px 22px 20px;
  
  display: flex;
  flex-direction: row;
  // align-items: center;
}

.main-chat-form-bar {
  flex: 1 1 auto;

  border: 2px solid $workspace-form-border-color;
  border-radius: 8px;

  display: flex;
  flex-direction: row;
  // overflow: hidden;
}

#main-chat-textarea {
  box-sizing: border-box;
  
  width: calc(100% - 15px);
  height: 44px;
  // max-height: 100%;
  // margin-bottom: 10p;

  border: none;
  margin-right: 6px;

  resize: none;
  padding: 9px 66px 9px 5px;
}

.chat-form-plus-button {
  box-sizing: border-box;
  width: 44px;
  
  border-right: 2px solid $workspace-form-border-color;
  color: $workspace-form-border-color;
  font-size: 22px;
  padding: 10px;

  display:flex;
  justify-content: center;
  align-items: flex-end;
}

// FORM HELL ENDS HERE

.workspace-main-chat-list {
  box-sizing: border-box;
  flex: 1 1 auto;
  width: calc(100% - 15px);

  overflow-y: hidden;
}

/* width */
.workspace-main-chat-list, #main-chat-textarea {
  &::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  &::-webkit-scrollbar-track {
    display: none;
  }
  
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: lightgrey; 
    border-radius: 10px;
  }

  &:hover {
    overflow-y: scroll;
    width: calc(100% - 5px);
  }
}


.chat-item {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;

  position: relative;
}

.chat-item-gutter { 
  flex: 0 0 70px;
  margin-right: 10px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;

  box-sizing: border-box;

}

.chat-item-body {
  flex: 1 1 auto;
  // #TODO shouldn't have to do this
  max-width: calc(100% - 95px);
  box-sizing: border-box;

}

.workpace-main-chat-timestamp-separator {
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.chat-item pre {
  font: inherit;
  font-weight: 400;
  font-size: 15px;

  line-height: 22px;
}

.chat-item time {
  font-size: 12px;
  color: $workspace-form-border-color;
}

.chat-item .chat-item-gutter time {
  display: none;
}

.chat-item:hover {
  background: $workspace-lightest-shade-gray;
    .chat-item-gutter time {
      display: inline;
    }
}

.chat-item .chat-item-gutter i {
  display: flex;
  width: 36px;
  height: 36px;
  align-items: center;
  justify-content: center;

  border-radius: 4px;
  background-color: $slack-accessible-green;
  font-size: 24px;
  color: white;
}

.chat-item-header {
  margin-top: 10px;
}

.chat-item:first-of-type {
  padding-top: 9px;
}

.chat-item:last-of-type {
  padding-bottom: 19px;
}

.workspace-main-chat-timestamp-bucket {
  box-sizing: border-box;
}

.scrollable-timestamp {
  position: sticky;
  top: 0px;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  z-index: 3;
}

// .scrollable-timestamp-whiteout {
//   position: absolute;
//   height: 50%;
//   width: 100%;
//   background-color: white;
//   z-index: -1;
//   overflow-y: visible;
// }

.scrollable-timestamp time {
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 10px;

  background-color: white;
  margin: 0px 8px;
  white-space: nowrap;

}


.technically-relatively {
  position: sticky;
  width: 100%;
  top: 0px;
  z-index: 2;
}

.scrollable-timestamp-before, .scrollable-timestamp-after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: $workspace-border-light-gray;
  // background-color: $workspace-border-light-gray;
  
  position: relative;
  top: 14px;

  z-index: 2;
}

.chat-item, .workspace-main-chat-timestamp-bucket {
  overflow-y: visible;
}

.workspace-main-chat-whiteout {
  height: 20px;
  overflow-y: visible;
  background-color:yellow;
}


.worksapce-main-chat-list {
  position: relative;
  top: 0px;
}



.chat-item-modal-button {
  display: none;
}

.chat-item:hover .chat-item-modal-button {
  position: absolute;
  top: -8px;
  right: 20px;


  box-sizing: border-box;
  height: 28px;
  width: 36px;
  border-radius: 4px;
  background-color: white;
  border: 1px solid $workspace-border-light-gray;

  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-item-modal-button:hover {
  box-shadow: 0px 1px 2px 0px rgb(224, 224, 224);
}

.chat-item-modal-button:focus {
  outline:  0;
}

.chat-item-modal-child {
  display: block;
  position: absolute;
  top: -24px;
  right: 50px;

  box-sizing: border-box;
  width: 300px;
  border-radius: 4px;
  border: 1px solid $workspace-border-light-gray;
  box-shadow: 0 0 8px #ccc; //#TODO look up shadow color
  background-color: white;
  z-index: 11;

  padding: 30px 0px;
}

.chat-item-actions-list {
  list-style: none;

  &:before, &:after {
    content: "";
    display: block;
    height: 1px;
    margin: 5px 0px;
    background-color: $workspace-border-light-gray;
  }

  li button{
    display: block;
    background-color: white;
    border: none;
    color: $workspace-faux-black;
    line-height: 29px;
    height: 28px;
    width: 100%;
    padding: 0px 24px;
    text-align: left;
  }

  li:hover button {
    background-color: $slack-accessible-blue;
    color: white;
    cursor: pointer;
  }
}

#chat-edit-textarea {
  box-sizing: border-box;
  
  width: calc(100% - 10px);

  border: 1px solid $slack-accessible-blue;
  border-radius: 4px;

  resize: none;
  padding: 9px 24px 9px 5px;
  overflow: hidden;
  
  &::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  &::-webkit-scrollbar-track {
    display: none;
  }
  
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: lightgrey; 
    border-radius: 10px;
  }

  &:hover {
    overflow-y: auto;
    width: calc(100% - 10px);
    padding-right: 14px;
  }
}

input.chat-edit-form-cancel, input.chat-edit-form-submit {
  display: inline-block;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  margin: 10px 6px 6px 0px; 
  height: 26px;
  font-size: 14px;
  padding: 4px 10px;

  &:hover {
    cursor: pointer;
  }
}

input.chat-edit-form-cancel {
  color: $workspace-faux-black;
  background-color: white;
  border: 1px solid $workspace-border-light-gray;
}

input.chat-edit-form-submit {
  color: white;
  background-color: $slack-accessible-green;
  border: none;
}

.channels-nav-bar, .direct-messages-nav-bar {
  margin: 100px 0px 0px 0px

}

.channels-nav-bar, .direct-messages-nav-bar {
  li:hover {
    background-color: $slack-aubergine-dark;
  }

}


.channels-index, .direct-messages-index {
  max-height: 156px;
  overflow: hidden;

  li {
    display: block;
    height: 26px;
    padding: 0px 20px 0px 10px;

    i {
      font-size: 12px
    }
  }

  li a {
    display: block;
    text-decoration: none;
    width: 100%;
  }

}

.direct-messages-index li i {
  font-size: 10px;
}

.channels-nav-bar > div, .direct-messages-nav-bar > div {
  margin-bottom: 12px;
  font-weight: 300;
  color: rgb(197,183,198);
  padding: 0px 20px 0px 10px;
}

.channels-nav-bar > button {
  box-sizing: border-box;
  outline: none;
  background-color: transparent;
  color: rgb(197,183,198);
  border: none;
  width: 100%;
  margin: 36px 0px 0px 0px;
  padding: 0px 20px 0px 10px;
  height: 26px;
  text-align: left;
  cursor: pointer;

  i {
    font-size: 12px;
  }

  &:hover {
    background-color:#3b103c;
  }
}

.direct-messages-nav-bar > div button {
  box-sizing: border-box;
  outline: none;
  background-color: transparent;
  border: 1px solid rgb(197,183,198);
  border-radius: 100%;
  height: 16px;
  width: 16px;
  font-size: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.direct-messages-nav-bar > div {
  display: flex;
  justify-content: space-between;
}



.current-session-info {
  padding: 10px; 
  cursor: pointer;

  .current-workspace-name {
    font-size: 18px;
  }

  .current-user-name {
    margin-top: 4px;
    font-size: 14px;
    color: rgb(197,183,198);

    i {
      font-size: 10px;
    }
  }

  &:hover {
    background-color: $slack-aubergine-dark;

    .current-user-name {
      color: white;
    }
  }
}

 .add-channel-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  .escape-div {
    width: calc(100% - 120px);
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

      button {
        background: transparent;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        border: none;
        height: 70px;
        width: 70px;
        border-radius: 100%;
        cursor: pointer;
        text-align: center;
  

        i {
          margin-top: 10px;
          display: block;
          font-size: 36px;
        }

        &:hover {
          background-color:$workspace-border-light-gray;
        }

        &:focus {
          outline: none;
        }
      }
    }
  .add-channel-form {
    font: $font-lato;
    width: 600px;
    display: flex;
    flex-direction: column;
    .add-channel-header {
      font-size: 36px;
    }

    label {
      margin-top: 30px;
      font-weight: 700;
    }

    .hint-paragraph {
      color: gray;
    }

    .input-box {

      display: block;
      margin-top: 8px;
      height: 32px;
      border-radius: 4px;
      border: 1px solid $workspace-form-border-color;
      padding: 8px;
      font-size: 20px;

      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      span {
        padding: 0 8px;
      }

      input {
        border:none;
        height: inherit;
        width: 100%;
      }

    }
    
    .input-descriptor {
      color: gray;
      margin-top: 4px;
      font-size: 14px;
    }
    input {
      // border: n
      font-size: 20px;
    }

    .add-channel-button-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      margin-top: 36px;

      button {
        box-sizing: border-box;
        height: 100%;
        color: white;
        background-color: $slack-accessible-green;
        font-size: 20px;
        font-weight: 700;
        padding: 16px;
        text-align: center;


        border: none;
        border-radius: 4px;
        margin-left: 20px;

        cursor: pointer;
      }
    }
  }
}

.workspace-active-nav-bar-stretch {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: 1px solid $workspace-border-light-gray;

  .display-info {
    
    font-size: 20px;
    font-weight: 900;

    padding: 8px 0px 0px 20px;
  }
}

.workspace-session-modal-child {
  display: block;
  position: absolute;
  top: 52px;
  left: 16px;

  box-sizing: border-box;
  width: 300px;
  border-radius: 4px;
  border: 1px solid $workspace-border-light-gray;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1); //#TODO look up shadow color
  background-color: white;
  z-index: 11;

  color: black;

  .useful-section {
    padding: 8px 0px;

    .header-section {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin: 12px 0px;
      padding: 0px 20px;
      
      i {
        display: flex;
        width: 36px;
        height: 36px;
        align-items: center;
        justify-content: center;
  
        border-radius: 4px;
        background-color: $slack-accessible-green;
        font-size: 24px;
        color: white;
      }
  
      h1 {
        margin-left: 8px;
        font-size: 20px;
        align-self: flex-start;
      }
    }

    ul li {
      line-height: 26px;
      height: 28px;
      font-weight: 300;
      padding: 0px 20px;
      cursor: pointer;

      &:hover {
        color: white;
        background-color: $slack-accessible-blue;
      }

      a {
        color: inherit;
        text-decoration: none;
      }
    }

    &:not(:last-child):after {
      content: "";
      display: block;
      width: 298px;
      height: 1px;
      background-color: $workspace-border-light-gray;
      position: relative;
      top: 8px;
    }
  }
}