<% if all_current_users.length > 0 %>
    <% all_active_workspaces = all_current_users.map {|user| user.workspace} %>
    <script id="initial-session-script" type="text/javascript">
        window.allCurrentUsers = <%= render(
            "api/users/index.json.jbuilder",
            users: all_current_users
        ).html_safe %>
        window.allActiveWorkspaces = <%= render(
            "api/workspaces/index.json.jbuilder",
            workspaces: all_active_workspaces
        ).html_safe %>
    </script>
<% end %>

<main id="root"></main>