$slack-accessible-green: #007A5A;

$slack-accessible-green-active:#00553E;

$slack-accessible-blue: #1264a3;

$splash-gray: #454545;

$splash-header-gray: rgb(30, 30, 30);

$slack-blue: #1264A3;


.splash-modal-button-container button {
  font: inherit;
}

.splash-main-get-started-form input {
  font: inherit;
}

.splash-header a {
    text-decoration: none;
}

.splash-header {
    height: 70px;
    width: 1230px;
    background-color: white;
    z-index: 6;
    margin: 0 auto;
    position: sticky;
    top: 0;
}

.slick-logo-div {
    height: 70px;
    width: 125px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    float: left;
    font-size:30px;
    text-align: center 
}
.slick-logo-div a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.slick-logo-div a div {
    margin-left: 4px;
    color: black;
}

.splash-nav {
    float: right;
    height: 70px;
    width: 1105px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.client-resources-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.client-resources-list li {

    color: $splash-gray;
    line-height: 1.28571429;
    font-size: 1rem;
    padding: 1rem;
}

.splash-modal-button {
    color: #fff;
    font-size: 1rem;

    background: #611f69;
    box-shadow: none;
    cursor: pointer;
    display: inline-block;
    border-radius: 4px;
    border: 2px solid #611f69;
    text-align: center;
    padding: 10px;
    margin: 16px 0px 16px 16px;
    transition: 400ms;
}

.splash-modal-button:hover {
    border-color: #4a154b;
    background-color: #4a154b;
}

.splash-modal-button-container {
    position: relative;
}

.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
}

.modal-child {
    background: white;
    position: absolute;
    top: 74px;
    right: 16px;
    width: 288px;
    border-radius: 4px;
    padding-bottom: 16px;
    box-shadow: 0 0 8px #ccc; //#TODO look up shadow color
    z-index: 11;
}


.modal-child ul li {
    cursor: pointer;
    border-width: 4px;
    width: 272px;
    height: 46px;
    margin: 8px;  // #TODO check spacing between list items
    padding: 8px;
    box-sizing: border-box;
    transition: 200ms;
    transition-timing-function: ease-out;

    font-size: 18px;
    color: $splash-gray;
}

.modal-child ul li:hover {
    background: #f5f5f5;
}

.modal-child ul::after {
    content: "";
    display: block;
    margin: 0 auto;
    margin-bottom: 16px;
    height: 0px;
    width: 260px;
    border-bottom: 1px solid rgb(235, 235, 235);
}

.workspace-logo {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    margin: 0px 18px 0px 0px;
    border-radius: 4px;

    color: #1264a3;
    background-color: #f5f5f5;

}

.modal-child a {
    display: inline-block;
    // padding: 8px;
    margin: 8px 24px;
    text-decoration: none;
    color: $splash-gray;
}

.modal-child a:hover {
    color: $slack-blue;
}

.modal-child a i {
    display: none;
}

.splash-main {
    width: 1230px;
    margin: 0 auto;
    margin-top: 65px;
}

.splash-grid-container {
    width: 1080px;
    height: 751px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: (535%/54) (40%/3) (895%/27) 22px (790%/27) (665%/54);
    grid-template-rows: 100px 69px 125px 141px 286px 30px;
}

.splash-grid-container h1 {
    font-size: 62px;
    color: $splash-header-gray;
    line-height: 1.12;
    letter-spacing: 0px;
    z-index: 5;
    margin-left: 80px;
    grid-column: 2 / 6;
    grid-row: 1 / 3;
}

.splash-grid-container .smallImage {
    grid-column: 1 / 3;
    grid-row: 2 / 5;
}

.splash-grid-container .bigImage {
    grid-column: 2 / 4;
    grid-row: 3 / 6;
}

.splash-grid-container .midImage {
    grid-column: 5 / 6;
    grid-row: 5 / 7;
}

.splash-grid-container .slick-blurb {
    grid-column: 5 / 7;
    grid-row: 3 / 4;
    color: $splash-gray
}

.splash-grid-container .splash-main-get-started-form {
    grid-column: 5 / 7;
    grid-row: 4 / 5;
}

.splash-main-get-started-form #submit {
    text-decoration: none;
    line-height: 1.28571429;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    background: #611f69;
    border: 2px solid #611f69;
    border-radius: 4px;

    cursor: pointer;
    text-align: center;
    padding: 18.5px 39px;
    margin: 0px 0px 0px 15px;
    transition: 400ms;
}

.splash-main-get-started-form #submit:hover {
    border-color: #4a154b;
    background-color: #4a154b;
}

.splash-main-get-started-form #email {
    padding: 19px;
    width: 250px;
    box-sizing: border-box;
    border: 1px solid #696969;
    border-radius: 4px;
    box-shadow: none;
}

.splash-main-get-started-form #email:focus {
    outline: none;
    border-color: #4a154b;
}

.splash-main-get-started-form p {
    margin-top: 16px;
    font-size: 14px;
    color: $splash-gray;
}

.auth-link-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.auth-link-container a {
    text-decoration: none;
    color: $splash-gray;
    line-height: 1.28571429;
    font-size: 1rem;

}

.auth-link-container a:nth-of-type(2) {
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    background: #611f69;
    border: 2px solid #611f69;
    border-radius: 4px;

    cursor: pointer;
    text-align: center;
    padding: 10px 14px;
    margin: 0px 0px 0px 30px;
    transition: 400ms;
}

.auth-link-container a:nth-of-type(2):hover {
    border-color: #4a154b;
    background-color: #4a154b;
}

.splash-demo-button {
    color: #fff;

    background: $slack-accessible-green;
    box-shadow: none;
    cursor: pointer;
    display: inline-block;
    border-radius: 4px;
    border: 2px solid $slack-accessible-green;
    text-align: center;
    padding: 10px;
    margin: 16px 16px 16px 24px;
    transition: 400ms;
}

.splash-demo-button:hover {
    border-color: $slack-accessible-green-active;
    background-color: $slack-accessible-green-active;
}




.splash-form-mini-link {
    color: $slack-accessible-blue;
    text-decoration: none;
}