$slack-aubergine: #4A154B;
$slack-aubergine-null: #611F69;
$slack-aubergine-active: #7C3085;

.workspace-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.workspace-nav-bar {
  box-sizing: border-box;
  flex: 0 1 220px;

  background: $slack-aubergine;
  color: white;
}

.workspace-nav-bar a {
  color: white;
}

.workspace-active-area {
  box-sizing: border-box;
  border: 1px solid red;
  flex: 1 1 auto;

  display: flex;
  flex-direction: column;
}

.workspace-active-nav-bar {
  box-sizing: border-box;
  flex: 0 1 60px;
  border: 1px solid red;
}

.workspace-active-chat-area {
  box-sizing: border-box;
  flex: 1 1 auto;
  border: 1px solid red;

  display: flex;
  flex-direction: row;
}

.workspace-main-section {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column
}

// FORM HELL STARTS HERE

.main-chat-form {
  box-sizing: border-box;
  flex: 0 0 auto;

  // max-height: calc( 60% + 30px);
  padding: 10px;
  
  display: flex;
  flex-direction: row;
  // align-items: center;
}

.main-chat-form-bar {
  flex: 1 1 auto;

  // max-height: 100%;

  // margin: 0px 20px;

  display: flex;
  flex-direction: row;
}

#main-chat-textarea {
  box-sizing: border-box;
  width: 100%;
  // max-height: 100%;
  // margin-bottom: 10p;

  resize: none;
  padding: 0;
}


// FORM HELL ENDS HERE

.workspace-main-chat-list {
  box-sizing: border-box;
  flex: 0 1 auto;

  overflow-y: auto;
  border: solid gray 1px;
}


